<a href="https://colab.research.google.com/github/18K41A0544-varshini/Assignment-2-colab-jupiter-/blob/master/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter first side"))
b=int(input("enter second side"))
c=int(input("enter third side"))
s=(a+b+c)//2
area=(pow((s*(s-a)*(s-b)*(s-c)),(1/2)))
print("area of triangle is:",area)

enter first side13
enter second side12
enter third side15
area of triangle is: 74.83314773547883

In [ ]:
word=input("enter any string")
h=word[::-1]
i=word[::1]
print(h)
print(i)
if h==i:
  print("palin")
else:
  print("not a palin")

enter any stringvarshini
inihsrav
varshini
not a palin

In [ ]:
year=int(input("enter any year"))
if year%400==0:
  print("leap year")
elif year%100==0:
  print("not a leap year")
elif year%4==0:
  print("leap year")
else:
  print("not a leap year")

In [ ]:
sen=input("enter a string")
sen1=sen.replace(" ","-")
    
print(sen1)

enter a string"hell yes"
"hell-yes"

In [ ]:
sen2=input("enter string with words seperated by commas")
string=sen2.split(",")
string1=sorted(string)
p1=",".join(string1)
'''print(p1)'''
string2=list(p1.split(","))
'''print(string2)'''
string3=[]
for i in string2:
  if i not in string3:
    string3.append(i)
string4=",".join(string3)
print(string4)

enter string with words seperated by commasorange,yellow,white,green,red,yellow,white,green
green,orange,red,white,yellow

In [ ]:
salary=float(input("enter your monthly salary"))
if salary<250000:
  print("there is no need to pay tax")
elif salary>=250001 and salary<=500000:
  tax=salary*(5/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=500001 and salary<=750000:
  tax=salary*(10/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=750001 and salary<=1000000:
  tax=salary*(15/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=1000001 and salary<=1250000:
  tax=salary*(20/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=1250001 and salary<=1500000:
  tax=salary*(25/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
else:
  tax=salary*(30/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)

enter your monthly salary1000000
your tax amount is: 150000.0
total amount is: 1150000.0

In [59]:
list1=[11,33,50]
s = [str(i) for i in list1] 
res = int("".join(s)) 
print(res)

113350

In [ ]:
s=int(input("enter no. of days"))
s1=int(input("enter no. of hours"))
s2=int(input("enter no. of minutes"))
s3=int(input("enter no. of seconds"))
seconds=s*86400+s1*3600+s2*60+s3
print(seconds)

enter no. of days5
enter no. of hours36
enter no. of minutes24
enter no. of seconds15
563055

In [ ]:
i1=int(input("enter 1st int"))
i2=int(input("enter 2nd int"))
i3=int(input("enter 3rd int"))
print(min(i1,i2,i3))
print(max(i1,i2,i3))

enter 1st int85
enter 2nd int65
enter 3rd int144
65
144

In [108]:
y = int(input("enter a year: "))

if (y % 400 == 0):
    leap_year = True
elif (y % 100 == 0):
    leap_year = False
elif (y % 4 == 0):
    leap_year = True
else:
    leap_year = False

m = int(input("enter a month [1-12]: "))

if m in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif m == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30


d = int(input("enter a day [1-31]: "))

if d < month_length:
    d += 1
else:
    d = 1
    if m == 12:
        m = 1
        y += 1
    else:
        m += 1
print("The immediate successor of given date is [yyyy-mm-dd] %d-%d-%d." % (y, m, d))

enter a year: 1998
enter a month [1-12]: 05
enter a day [1-31]: 18
The immediate successor of given date is [yyyy-mm-dd] 1998-5-19.

In [26]:
list=[45,3,2,89,72,1,10,7]
res=1
for i in list:
  res=res*i
print(res)

121111200

In [128]:
b=[5,6,8,34,89,1]
l
l=len()
b1=[]
for i in range(l-1):
  b1.append(b[i]+b[i+1])
print(b1)

TypeError: ignored

In [114]:
t=(5,6,8,3,9,1)
tu1=[]
tu1.append(tu[0])
for i in range(len(t)-1):
  t1=tu1[i]*t[i+1]
  tu1.append(t1)
print(tu1)

AttributeError: ignored

In [91]:
s=int(input("enter a number"))
s1=[]
for i in str(s):
  s1.append(int(i))
print(s1)

enter a number544
[5, 4, 4]

In [93]:
b1=input("enter first binary string")
b2=input("enter second string")
if b2 in b1:
  print("1")
else:
  print("0")

enter first binary string1010110010
enter second string10110
1

In [103]:
t=int(input("enter no. of testcases"))
i=0
while i<t:
  i=i+1
  a=int(input("enter first vessel capacity"))
  b=int(input("enter second vessel capacity"))
  c=int(input("how many litres of water u want from a and b vessels"))
  if a<c and b<c:
    print("-1")
  elif a==c or b==c:
    print("1")
  else:
    if a>b:
      b=0
      r=a-b;
      if c==a:
        print("3")
      else:
        print("2")
    else:
      a=0
      if c==b:
        print("3")
      else:
        print("2")

enter no. of testcases3
enter first vessel capacity4
enter second vessel capacity3
how many litres of water u want from a and b vessels3
1
enter first vessel capacity2
enter second vessel capacity6
how many litres of water u want from a and b vessels4
2
enter first vessel capacity8
enter second vessel capacity4
how many litres of water u want from a and b vessels7
2